{% extends "base.html" %}

{% block content %}
<!-- List the blogs-->
  <h1>Build A Blog</h1>
  <hr />

    <ul>
        {% if not request.args %}
          {% for blog in completed_blogs %}
        <li>
          <form action="/blog" >
            <a href="/blog?id={{blog.id}}"><strong>{{ blog.title }}</strong></a>
            <p>{{ blog.body }}</p>
            <input type="hidden" name="blog-id" value="{{  blog.id }}">
          </form>
        </li>
          {% endfor %}

        {% else %}
          <form action="/blog?id={{myblog.id}}">
             <div>
                 <h1> {{ myblog.title }}</h1>
                 <p> {{ myblog.body }} </p>
              </div>
          </form>
    </ul>
  <hr />
        {% endif %}

{% endblock %}