{% extends "base.html" %} 

{% block content %}
<!--Create a new blog post-->
    <h1>Add a Blog Entry</h1>
    
    <form action="/newpost" method="POST" >
        <input type="hidden" name="blog-id" value="{{ id }}">
        <p>
        <label for="btitle">Title for you new blog:</label>
        </p>
            <input id="btitle" type="text" name="blog_title" value="{{ blog_title }}" />
        <p class="error"> {{ blog_title_error }}</p>
        
        <p>
        <label for="blog_body">Your new blog:</label>
        </p>
            <textarea id="blog_body" name="blog_body" value="{{ blog_body }}" ></textarea> 
        <p>
        <p class="error"> {{ blog_body_error }}</p>
            <input type="submit" value="Post!" />
        </p>    
    </form>

{% endblock %}