{% extends "base.html" %}

{% block content %}
<!--create an account-->
<h1>Signup to Build-a-Blog!</h1>
<p>Already have account? <a href='/login'>login</a>here!</p>
<form action="/signup" method="POST">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
                <p class='error'>{{ username_error }}</p>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <p class ='error'>{{ password_error }}</p>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
                <p class='error'> {{ verify_error }}</p>
            </td>
        </tr>
    </table>
    <input type="submit" value="Signup!">
</form>
{% endblock %}